.signUpSection {
  width: 100%;
  padding: 30px 0 70px 0;
  .container {
    padding: 0 70px;
    .tabPanelSection {
      gap: 24px;
      width: 100%;
      .signUpTabs {
        width: 30%;
        .MuiTabs-indicator {
          display: none;
        }
        .MuiTabs-flexContainer {
          display: flex;
          flex-direction: column;
          gap: 12px;
        }
        .signUpTab {
          height: 110px;
          max-width: 100%;
          min-width: 100%;
          padding-inline: 20px;
          display: flex;
          justify-content: flex-start;
          gap: 20px;
          border: 1px solid rgba(29, 29, 29, 0.08);
          border-radius: 8px;
          color: #000;
          transition: all 0.2s ease-in-out;
          position: relative;
          .tabLable {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            .title {
              font-size: 20px;
              font-family: "yekanExtraBold";
            }
            .desc {
              font-size: 14px;
            }
          }
          .tabImageSection {
            width: 42px;
            height: 42px;
            position: relative;
            margin-left: 0 !important;
          }
        }
        .Mui-selected {
          background: #16b09f;
          border: 1px solid #16b09f;
          .tabLable {
            .title {
              color: #fff !important;
            }
            .desc {
              color: #fff !important;
            }
          }
        }
      }
      .signUpTabpanelBody {
        display: flex;
        justify-content: space-between;
        width: 70%;
        gap: 24px;
        .tabPanels {
          width: 60%;
          .signUpTabBody {
            .content {
              display: flex;
              justify-content: space-between;
              gap: 20px;
              p {
                line-height: 28px;
              }
              .rightContent {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .signUpBox {
                  border: 1px solid rgba(29, 29, 29, 0.08);
                  background: #f9f9f9;
                  border-radius: 12px;
                  padding: 20px;
                  display: flex;
                  flex-direction: column;
                  gap: 20px;
                  h2 {
                    margin-bottom: 0;
                  }
                }
                h3 {
                  font-size: 22px;
                  font-family: "yekanExtraBold";
                }
                h2 {
                  font-size: 22px;
                  font-family: "yekanExtraBold";
                }
              }
            }
          }
        }
        .leftContent {
          width: 40%;
          height: auto;
          position: relative;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .signUpSection {
    .container {
      .tabPanelSection {
        flex-direction: column;
        gap: 40px;
        .signUpTabs {
          width: 100%;
          .signUpTab {
            min-width: calc(100% / 3 - 22px);
            height: 95px;
            .tabLable {
              .title {
                font-size: 18px;
              }
            }
          }
          .MuiTabs-flexContainer {
            flex-direction: row;
          }
        }
        .signUpTabpanelBody {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .signUpSection {
    padding: 20px 0 50px 0;
    .container {
      padding: 0 20px;
    }
  }

  .signUpSection {
    .container {
      .tabPanelSection {
        flex-direction: column;
        gap: 40px;
        .signUpTabs {
          width: 100%;
          .signUpTab {
            height: 80px;
            padding-inline: 16px;
            .tabImageSection {
              display: none;
            }
            .tabLable {
              .title {
                font-size: 18px;
              }
              .desc {
                font-size: 12px;
              }
            }
          }
          .MuiTabs-flexContainer {
            flex-direction: row;
          }
        }
        .signUpTabpanelBody {
          width: 100%;
          flex-direction: column;
          .tabPanels {
            width: 100%;
            .signUpTabBody {
              .content {
                .rightContent {
                  h3 {
                    font-size: 20px;
                  }
                  h2 {
                    font-size: 20px;
                  }
                }
              }
            }
          }
          .leftContent {
            width: 250px;
            height: 250px;
            position: relative;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
